@tailwind base;
@tailwind components;
@tailwind utilities;



    /* Additional CSS styles for the frog image container */
    .frog-container {
      text-align: center;
      margin-top: 20px;
    }
    .frog-image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-color: #ffffff; /* Initial background color */
      transition: background-color 0.5s;
      cursor: pointer;
    }

    .text-2xl a:hover {
        transform: scale(1.05);
      }